/*-----------超链接样式---------------
说明: 伪类:link :visited :hover分别代表超链接的通常、被访问后、和鼠标接触链接是的样式
a标签代表通用超链接样式
.menuA代表Blog导航条菜单的样式
.titleA代表日志标题的样式
.sideA代表侧栏的超链接样式
.CategoryA代表树形分类的链接样式
.more代表更多链接的样式
------------------------------------*/
/*a{text-decoration:none;color:#9C3;}
a:hover{color:#9C3;}*/
a:link{color: #6D876F;text-decoration: none;}
a:visited {color: #6D876F;text-decoration: none;}
a:hover{color: #6D876F;text-decoration: none;}

.sidepanel a:link,.sidepanel a:visited{text-decoration:none;color:#6D876F; border-bottom:1px dotted #eee;font-size:12px;}
.sidepanel a:hover{color:#FFF; background-color:#6D876F;}
#container #foot a:link,#container #foot a:visited{text-decoration:none;color:#6D876F;}
#container #foot a:hover{color:#6D876F;text-decoration:none}

.menuA:link,.menuA:visited{float:left;height:16px;text-align:center;text-decoration:none;color:#FFF; font-size:12px; font-weight:bold;}  
.menuA:hover{color:#4A5A43;text-decoration:none;} 

.titleA:link,.titleA:visited{font-size:14px;text-decoration:none;font-weight:bold;text-align:left;color:#6D876F;}
.titleA:hover{color:#6D876F;}
.sideA:link,.sideA:visited{padding:0px 0px 0px 0px;overflow:hidden;display:block;margin-bottom:0px;width:145px;font-size:12px;}
.sideA:hover{overflow:hidden}
.CategoryA:link,.CategoryA:visited{text-decoration:none; font-size:12px;}
.CategoryA:hover{text-decoration:underline;}
.Content-body p .more:link,.Content-body p .more:visited{background:url(url.gif) no-repeat 0px 4px;padding-left:18px;text-decoration:none; font-size:12px;}
.Content-body p .more:hover{color:#FFF; padding-left:18px;background:#6D876F url(url.gif) no-repeat 0px 4px;}  


/*---超链接样式定义结束---*/